.person-container {
  display: flex;
  flex-direction: row;
}

.person-container:nth-child(even) {
  flex-direction: row-reverse;
}


img:hover {
  opacity: .8;
}

@media screen and (max-width: 700px) {
  .person-container {
    display: flex;
    flex-direction: column;
  }

  .person-container:nth-child(even) {
    flex-direction: column;
  }
}
